.box{
  border: 1px solid black;
  width: 320px;
  margin: 10px;
}

.main{
  display: flex;
  justify-content: center;
  text-align: center;
}
.img-size{
  width: 50%;
}
.win{
  border: 10px solid green;
  color: green;
}
.lose{
  border: 10px solid red;
  color: red;
}
.tie {
  border: 10px solid black;
  color: black;
}
img.item-img {
  width: 200px;
  height: 200px;
  object-fit: cover; 
}