.box{
  border: 10px solid rgb(174, 174, 174);
  width: 320px;
  margin: 10px;    
}

.main{
  display: flex;
  justify-content: center;
  text-align: center;  
}

.mobile-display{display: none;}

@media all and (max-width:600px) {
  .main{display: block; padding: 2% 0 0 2%;}
  .box-in-1 > h1{font-size: clamp(1.3rem, 1.5vw, 1.5rem)}
  .box-in-1 > h1{margin: 3% 0;}
  .box-in-1 > h2{margin: 3% 0;}
  .box-in-3 > h2{margin: 3% 0;}
  .box-in-2 {width: 40%; padding-left: 30%;}
  /* .box {grid-template-columns: 20% 60% 20%; display: grid;} */
  .desktop-display{display: none;} 
}

.img-size {width: 50%;}
.item-img{ width: 50%; }

@media all and (max-width:600px) {
  .item-img{ width: 100%;}
}

.win{
  border: 10px solid green;
  color: green;
}
.lose{
  border: 10px solid red;
  color: red;
}
.tie {
  border: 10px solid black;
  color: black;
}